<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">  
    <head>
        <title>Spring Security 学习代码 --- hello Admin</title>
    </head>
    <body>
        <h1> hello Admin </h1>
        
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="退出登录"/>
		</form>
        
        
        <p>
        这个页面，要求是  管理员用户，才能访问！
        </p>
        
        
        
        
        <p><a th:href="@{/index}">返回首页</a></p>
               
        
    </body>
</html>
