<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">  
    <head>
        <title>kaptcha 验证码简单实例</title>
    </head>
    <body>
        
        
<h1 th:text="${info}"/>
<div>
    <img alt="验证码" onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha"/>
</div>

<form action="/verifyCode">
    <input type="text" name="verifyCode"/>
    <input type="submit" value="提交"/>
</form>

        
    </body>
</html>
